/.phpunit.cache
/node_modules
/vendor
/vendor-src
.phpunit.result.cache
npm-debug.log
yarn-error.log
yarn.lock
package-lock.json
/.fleet
/.idea
/.vscode
phpcs-report.xml
/assets/build
/assets/**/*.hot-update.*
/assets/**/*.js.map
/assets/css/*.js
**/.DS_Store
/languages
/__build