.wp-block-formgent-address {
	.block-editor-block-list__address {
		display: flex;
		gap: 10px;
		flex-direction: column;
		&__single {
			display: flex;
			gap: 10px;
			flex-direction: column;
			flex: 1;
		}
		&__wrapper {
			display: flex;
			gap: 10px;
			flex-wrap: wrap;
		}
	}
}
