@import "./variables.scss";

/* Spacing */
.formgent-m-0 {
	margin: 0 !important;
}

.formgent-mb-0 {
	margin-bottom: 0 !important;
}
.formgent-mb-5 {
	margin-bottom: 5px !important;
}
.formgent-mb-10 {
	margin-bottom: 10px !important;
}
.formgent-mb-15 {
	margin-bottom: 15px !important;
}
.formgent-mb-20 {
	margin-bottom: 20px !important;
}
.formgent-mb-25 {
	margin-bottom: 25px !important;
}
.formgent-mb-30 {
	margin-bottom: 30px !important;
}
.formgent-mb-40 {
	margin-bottom: 40px !important;
}

.formgent-mt-0 {
	margin-top: 0px !important;
}
.formgent-mt-10 {
	margin-top: 10px !important;
}
.formgent-mt-15 {
	margin-top: 15px !important;
}
.formgent-mt-25 {
	margin-top: 25px !important;
}
.formgent-mt-20 {
	margin-top: 20px !important;
}

.formgent-mt-30 {
	margin-top: 30px !important;
}
.formgent-mt-40 {
	margin-top: 40px;
}
.formgent-mt-50 {
	margin-top: 50px;
}

.formgent-ml-0 {
	margin-inline-start: 0 !important;
}

.formgent-p-5 {
	padding: 5px;
	box-sizing: border-box;
}
.formgent-p-20 {
	padding: 20px;
	box-sizing: border-box;
}
.formgent-p-25 {
	padding: 25px;
	box-sizing: border-box;
}
.formgent-p-30 {
	padding: 30px;
	box-sizing: border-box;
}

.formgent-no-wrap {
	display: flex;
	flex-wrap: nowrap !important;
}

.formgent-page-inner {
	padding: 30px 30px 0 30px;
}

.formgent-text-center {
	text-align: center;
}

.formgent-danger-text {
	color: var(--formgent-color-danger);
}

.formgent-h-20 {
	height: 20px;
}

.formgent-w-f {
	width: 100% !important;
}

.formgent-h-100pr {
	height: 100%;
}

.formgent-root {
	font-family: var(--formgent-font-family);
	.block-editor-rich-text__editable.rich-text {
		font-family: inherit;
	}
}

.formgent-single-form-fullscreen {
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 99999;
	background: #f0f0f1;
	.formgent-single-form-header {
		top: 0 !important;
	}
}

.formgent-flex-wrap {
	flex-wrap: wrap;
}

.formgent-font-family {
	font-family: var(--wp--preset--font-family--source-serif-pro);
}

.formgent-font-weight-500 {
	font-weight: 500;
}

.formgent-font-size-16 {
	font-size: 16px;
}

.formgent-font-size-20 {
	font-size: 20px;
}

.formgent-font-w-bold {
	font-weight: bold;
}

.formgent-d-block {
	display: block;
}

.formgent-d-flex {
	display: flex;
}

.formgent-flex-grow-1 {
	flex-grow: 1;
}

.formgent-flex-direction-column {
	flex-direction: column;
}

.formgent-justify-content-center {
	justify-content: center;
}

.formgent-space-between {
	justify-content: space-between;
}

.formgent-text-center {
	text-align: center;
}

.formgent-text-danger {
	color: var(--formgent-color-danger) !important;
}

.formgent-text-white {
	color: #ffffff;
}

.formgent-text-color {
	color: var(--formgent-color-text);
}

.formgent-text-color-info {
	color: var(--formgent-color-info);
}

.formgent--text-center {
	text-align: center;
}

.formgent--justify-center {
	justify-content: center;
}

/* Button Style */

a.formgent-btn-disabled {
	cursor: not-allowed;
	pointer-events: none;
	opacity: 0.4;
}

.formgent-inline-list {
	margin: 0 -5px;
	padding: 0;
	list-style: none;

	.formgent-inline-list-item {
		display: inline-block;
		margin: 0 5px 5px;
	}
}

/* Button link */
.formgent-link {
	display: inline-block;
	text-decoration: none;
	color: var(--formgent-color-primary);
}

/* Block Button Style */
.formgent-btn-block {
	display: flex;
	justify-content: center;
	width: 100%;
	box-sizing: border-box;
}

.formgent-icon-link {
	display: inline-block;
	width: 1em;
	margin: 1px 8px 0;
	cursor: pointer;

	svg path {
		fill: var(--formgent-color-primary);
	}
}

.formgent-form-date {
	display: flex;
	gap: 6px;
	flex-direction: column;
	.formgent-form-date__time {
		font-size: 12px;
		color: var(--formgent-color-gray-500);
	}
}

.formgent_page_formgent #wpcontent {
	padding-left: 0;
}

// ant checkbox

.formgent-page-inner {
	.ant-checkbox {
		.ant-checkbox-inner {
			width: 18px;
			min-width: 18px;
			height: 18px;
			border-radius: 5px;
			margin: 0;
			line-height: 1;
			appearance: none;
			border: 2px solid var(--formgent-color-extra-light);
			box-shadow: none;
			&:after {
				display: block;
				width: 4.5px;
				height: 8px;
			}
		}
		&.ant-checkbox-checked {
			.ant-checkbox-inner {
				border-color: var(--formgent-color-primary);
			}
		}
	}
}

/* formgent Modal */
.formgent-modal {
	font-family: var(--formgent-font-family);
	.components-modal__frame {
		min-width: 540px;
		border-radius: 20px;
		background-color: var(--formgent-color-white);
		@media only screen and (max-width: 575px) {
			min-width: 100%;
		}
	}
	.components-modal__header {
		height: auto;
		padding: 15px 30px;
		background: #fff;
		//overflow: hidden;
		.components-button {
			inset-inline-start: auto;
			inset-inline-end: 20px;
			top: 5px;
			&:focus {
				outline: none;
				box-shadow: 0 0;
			}
			&:hover {
				color: var(--formgent-color-danger);
			}
		}
		.components-modal__header-heading {
			font-family: inherit;
			display: flex;
			align-items: center;
			gap: 12px;
		}
		.formgent-popup-title-icon {
			width: 48px;
			height: 48px;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 50%;
			background: var(--formgent-color-gray-100);
			svg {
				width: 24px;
				height: 24px;
			}
			svg,
			path {
				fill: var(--formgent-color-dark);
			}
		}
	}
	.components-modal__content {
		margin: 0;
		padding: 0;
		overflow-x: hidden;
		&::-webkit-scrollbar {
			width: 5px;
		}
		&::-webkit-scrollbar-track {
			background: #f1f1f1;
			border-radius: 3px;
		}
		&::-webkit-scrollbar-thumb {
			background: var(--formgent-color-bg-deep);
			transition: var(--formgent-transition);
			border-radius: 3px;
		}
		&::-webkit-scrollbar-thumb:hover {
			background: var(--formgent-color-primary);
		}
		.formgent-conversation-forward {
			padding: 0 30px;
		}
		.formgent-conversation-forward__content {
			> .formgent-user-block {
				padding-left: 15px;
				margin-bottom: 20px;
				position: relative;
				&:before {
					position: absolute;
					content: "";
					width: 3px;
					height: 100%;
					left: 0;
					top: 0;
					background: var(--formgent-color-primary);
					border-radius: 10px;
				}
			}
			.formgent-conversation-forward__reply {
				margin-bottom: 15px;
				textarea {
					height: 70px;
					padding: 15px 20px;
					border-radius: 10px;
					background: var(--formgent-color-bg-gray);
					border: 0 none;
					resize: none;
				}
			}
			.formgent-conversation-forward__user {
				.formgent-conversation-forward__user-input {
					margin-bottom: 15px;
					input {
						height: 40px;
						padding: 0 20px;
						border-radius: 10px;
						background: var(--formgent-color-bg-gray);
						border: 0 none;
					}
				}
				.formgent-conversation-forward__list {
					.formgent-conversation-forward__list-group {
						&:not(:last-child) {
							margin-bottom: 15px;
							padding-bottom: 15px;
							border-bottom: 1px solid #e6e6e6;
						}
					}
					.formgent-conversation-forward__list-label {
						font-size: 12px;
						font-weight: 500;
						text-transform: uppercase;
						color: var(--formgent-color-light-gray);
						margin-bottom: 20px;
						display: block;
					}
					.formgent-conversation-forward__list-single {
						margin-bottom: 20px;
						display: flex;
						align-items: center;
						justify-content: space-between;
						.formgent-user-block {
							align-items: center;
						}
						.formgent-btn.disabled {
							background: #fff;
							color: var(--formgent-color-primary);
							cursor: not-allowed;
							pointer-events: none;
							span {
								display: flex;
								align-items: center;
								justify-content: center;
								gap: 6px;
							}
							svg {
								width: 10px;
								margin: 0;
								path {
									fill: var(--formgent-color-primary);
								}
							}
						}
					}
				}
			}
		}
	}
	&.formgent-form-title-modal {
		.components-modal__header {
			padding: 0;
			.components-button {
				position: absolute;
				right: 20px;
				top: 20px;
				padding: 0;
				width: 36px;
				height: 36px;
				border-radius: 50%;
				inset-inline-end: 30px;
				background-color: var(--formgent-color-bg-gray);
				border: 0 none;
				svg {
					width: 18px;
					height: 18px;
				}
			}
		}
	}
	&.formgent-attachment-importing {
		.components-modal__header {
			& + div {
				height: 100%;
				display: flex;
				align-items: center;
			}
		}
	}
	&.formgent-create-modal-wrap {
		top: 0;
		.formgent-btn-back {
			position: relative;
			top: -20px;
			font-size: 14px;
			font-weight: 500;
			text-decoration: none;
			padding: 10px 20px;
			color: var(--formgent-color-gray);
			display: inline-flex;
			align-items: center;
			gap: 8px;
			cursor: pointer;
			transition: var(--formgent-transition);
			align-self: self-start;
			margin-top: 24px;
			background: #e5e7eb;
			border-radius: 8px;
			svg {
				path {
					fill: var(--formgent-color-gray);
					transition: var(--formgent-transition);
				}
			}
		}
		.formgent-create-form-modal {
			&.formgent-create-loader-active {
				display: flex;
				justify-content: center;
				align-items: center;
				height: 100%;
			}
		}
		.components-modal__frame {
			height: 100%;
			min-height: 100%;
			border-radius: 0px;
			min-width: calc(100%);
			background-color: #f3f4f6;
		}
		.components-modal__header {
			padding: 5px 20px 5px 10px;
			.formgent-create-modal-logo {
				order: -1;
				display: flex;
				align-items: center;
			}
			.components-button {
				position: static;
				padding: 0;
				width: 36px;
				height: 36px;
				border-radius: 50%;
				inset-inline-end: 30px;
				background-color: var(--formgent-color-bg-gray);
				border: 0 none;
				svg {
					width: 18px;
					height: 18px;
				}
			}
		}
		.components-modal__content {
			padding: 50px 30px 30px;
		}
	}
	&.formgent-add-tag-modal {
		.components-modal__frame,
		.components-modal__content {
			overflow: visible;
		}
		.components-modal__header {
			border-radius: 20px 20px 0 0;
		}
	}
	&.formgent-change-email-modal,
	&.formgent-account-delete-alert {
		z-index: 10000000;
	}
	&.formgent-change-email-modal {
		.formgent-change-email-modal__form {
			padding: 0 40px 30px;
		}
		.formgent-change-email-modal-action {
			justify-content: flex-start;
			.formgent-modal-action__cancel {
				order: 1;
			}
		}
	}
	&.formgent-account-delete-alert {
		.formgent-account-delete-alert-action {
			justify-content: center;
			.formgent-modal-action__cancel {
				order: 1;
			}
		}
	}
	&.formgent-session-expired {
		.components-modal__frame {
			&:focus {
				outline: 0;
				box-shadow: none;
			}
		}
		.components-modal__header {
			display: none;
		}
	}
	&.formgent-modal.formgent-modal-default.formgent-modal-pro {
		.components-modal__header {
			padding: 0;
			border-bottom: 0 none;
			& + div {
				> div {
					padding-top: 40px;
				}
			}
			.components-button {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 36px;
				height: 36px;
				border-radius: 50%;
				right: 15px;
				top: 15px;
				background-color: var(--formgent-color-bg-light);
			}
		}
	}
	&.formgent-modal-forward {
		.formgent-modal-action {
			justify-content: center;
		}
	}
	&.formgent-modal-default {
		.components-modal__frame {
			max-width: 650px;
			@media only screen and (max-width: 575px) {
				max-width: 100%;
			}
		}
		.components-modal__header {
			padding: 20px 30px;
			border-bottom: 1px solid var(--formgent-color-border-light);
		}
		.components-button {
			padding: 0;
			height: auto;
			left: auto;
			right: 0;
			background: none !important;
			svg {
				width: 16px;
				height: 16px;
			}
		}
	}
	&.formgent-form-delete-alert {
		z-index: 99999999999;
		.components-modal__header-heading {
			display: flex;
			align-items: center;
			gap: 12px;
		}
		.formgent-popup-title-icon {
			background: var(--formgent-color-danger-100);
			width: 48px;
			height: 48px;
			border-radius: 50%;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			svg,
			path {
				fill: var(--formgent-color-danger);
			}
		}
		.components-modal__header {
			border: 0 none;
		}
		.formgent-form-delete-alert-action {
			.formgent-modal-action__cancel {
				border: 1px solid #d2d6db;
			}
		}
		.helpgent-form-delete-list {
			padding-left: 30px;
			list-style-type: disc;
			font-weight: 600;
		}
	}
}

//Rich text
.rich-text [data-rich-text-placeholder]:after {
	content: attr(data-rich-text-placeholder);
	opacity: 0.62;
}

// antd default style
.ant-dropdown {
	width: 168px;
	.ant-dropdown-menu {
		padding: 4px 0;
		border: 1px solid var(--formgent-color-border);
		box-shadow: 0px 8px 16px 0px rgba(16, 24, 40, 0.1);
		overflow: hidden;
	}
	.ant-dropdown-menu-item {
		height: 40px;
		padding: 0 16px !important;
		border-radius: 0 !important;
	}
}
.ant-dropdown-menu-title-content {
	.dropdown-header-content {
		position: relative;
		display: flex;
		gap: 12px;
		align-items: center;
		font-size: 14px;
		font-weight: 500;
		color: var(--formgent-color-gray-600);
		.active-icon {
			position: absolute;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
			width: 20px;
			height: 20px;
			border-radius: 100%;
			background: var(--formgent-color-primary);
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
}
.ant-dropdown-menu-item-group-title {
	padding: 15px;
	margin: 0 0 8px;
	background: var(--formgent-color-bg-light);
	span {
		font-size: 14px;
		font-weight: 600;
		color: var(--formgent-color-dark);
	}
}

.formgent-editor-inserter__field {
	border-radius: 8px;
	color: #1e1f21;
	cursor: move;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 14px;
	padding: 12px 10px;
	min-height: 80px;
	text-align: center;
	transition: all 0.05s;
	border: 1px solid var(--formgent-color-border);
	background-color: var(--formgent-color-bg-light);
}
.formgent-editor-inserter__field--icon {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 30px;
	height: 30px;
	border-radius: 6px;
	margin-bottom: 10px;
	background-color: var(--formgent-color-white);
	svg {
		width: 14px;
		height: 14px;
	}
}

.formgent-popover-content-wrap {
	max-width: 380px;
	.ant-row {
		margin: -7.5px 0;
	}
	.ant-col {
		margin: 7.5px 0;
	}
}

.formgent-form-filter__by-time__options {
	background: #fff;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
}

.formgent-table-action__dropdown {
	li a {
		display: flex;
		align-items: center;
		gap: 8px;
		svg {
			width: 16px;
			height: 16px;
		}
	}
}

//Tooltip
.components-tooltip {
	padding: 7px 12px;
	border-radius: 6px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	position: relative;
	max-width: 200px;
	font-size: 12px;
	font-weight: 600;
	top: 5px;
	&:before {
		content: "";
		position: fixed;
		left: 50%;
		top: 2px;
		transform: translateX(-50%) rotate(45deg);
		width: 8px;
		height: 8px;
		border-radius: 2px;
		background: inherit;
	}
}

/* Formgent Toggle */
.formgent-toggle {
	.components-form-toggle__input {
		&:focus {
			outline: none;
			box-shadow: 0 0;
			& + .components-form-toggle__track {
				outline: none;
				box-shadow: 0 0;
			}
		}
	}
	.components-form-toggle__track {
		width: 35px;
		height: 20px;
		border-radius: 10px;
		border: 0 none;
		background-color: var(--formgent-color-bg-deep);
	}
	.components-form-toggle__thumb {
		width: 14px;
		height: 14px;
		border: 0 none;
		background-color: var(--formgent-color-bg-white);
	}
	.components-form-toggle {
		&.is-checked {
			.components-form-toggle__track {
				background-color: var(--formgent-color-primary);
			}
			.components-form-toggle__thumb {
				transform: translateX(15px);
			}
		}
	}
	.components-toggle-control {
		margin-bottom: 0;
	}
	&.formgent-toggle--md {
		.components-form-toggle__track {
			width: 46px;
			height: 24px;
			border-radius: 12px;
		}
		.components-form-toggle__thumb {
			width: 18px;
			height: 18px;
		}
		.components-form-toggle {
			&.is-checked {
				.components-form-toggle__thumb {
					transform: translateX(22px);
				}
			}
		}
	}

	&.formgent-toggle-success {
		.components-form-toggle {
			&.is-checked {
				.components-form-toggle__track {
					background-color: var(--formgent-color-success);
				}
			}
		}
	}

	&.formgent-disabled {
		pointer-events: none;
		.formgent-toggle__label {
			opacity: 0.5;
		}
	}
}

.ant-table-pagination,
.ant-pagination {
	gap: 4px;
	.ant-pagination-total-text {
		font-size: 12px;
		font-weight: 400;
		color: var(--formgent-color-gray-600);
	}
	.ant-pagination-prev,
	.ant-pagination-item,
	.ant-pagination-next {
		background: #fff;
		box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
		border-radius: 8px;
		width: 36px;
		height: 36px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.ant-pagination-item-active {
		background: var(--formgent-color-dark);
		border-color: var(--formgent-color-dark);
		a {
			color: #fff;
		}
		&:hover {
			background: var(--formgent-color-dark);
			border-color: var(--formgent-color-dark);
			a {
				color: #fff;
			}
		}
	}
}

.formgent-forms-pagination-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 40px;
	.ant-pagination {
		flex: auto;
		display: flex;
		gap: 12px;
		align-items: center;
		justify-content: center;
		margin-left: -80px;
		li {
			margin: 0;
		}
	}
	.formgent-forms-pagination-total-count {
		margin-right: auto;
	}
}

.formgent-select-radio {
	margin-bottom: 10px;
	line-height: normal;
	input {
		display: none;
		&:checked + .formgent-single-select__option:before {
			border: 5px solid var(--formgent-color-primary);
		}
	}
	label {
		margin-bottom: 0;
	}
	.formgent-single-select__option {
		position: relative;
		padding-left: 27px;
		color: var(--formgent-color-gray);
		font-size: 14px;
		cursor: pointer;
		&:before {
			content: "";
			position: absolute;
			width: 18px;
			height: 18px;
			inset-inline-start: 24px;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
			border-radius: 50%;
			border: 2px solid #a2a2a2;
			z-index: 10;
			box-sizing: border-box;
		}
	}
}
.formgent-form-filter__by-time__options {
	width: 350px;
	.formgent-form-filter-select-timeframe {
		background: var(--formgent-color-bg-light);
		margin-top: 15px;
		padding: 11px 15px 15px;
		border-radius: 8px;
		> span {
			font-size: 14px;
			color: var(--formgent-color-gray);
			display: block;
			margin-bottom: 4px;
		}
	}
}

.formgent-form-filter__sorting-dropdown {
	.ant-dropdown-menu {
		padding: 8px;
		border-radius: 10px;
		box-shadow:
			0px 12px 16px -4px rgba(16, 24, 40, 0.08),
			0px 4px 6px -2px rgba(16, 24, 40, 0.03);
		.ant-dropdown-menu-item {
			font-size: 14px;
			font-weight: 500;
			color: var(--formgent-color-gray);
			padding: 9px 12px 9px 20px;
			&.ant-dropdown-menu-item-selected {
				background: var(--formgent-color-gray-200);
				border-radius: 8px;
			}
			.ant-dropdown-menu-title-content span {
				display: flex;
				align-items: center;
				justify-content: space-between;
			}
		}
	}
}
.formgent-control-default-value-wrapper {
	.formgent-control-default-value {
		position: relative;
		.components-input-control__input {
			padding: 0 35px 0 8px !important;
		}
		.components-dropdown {
			position: absolute;
			right: 0;
			top: 20px;
			svg {
				width: 16px;
				height: 16px;
			}
		}
	}
}

.formgent-form-filter__form-type-options {
	.ant-select-item.ant-select-item-option-selected {
		background: var(--formgent-color-gray-200);
		border-radius: 8px;
	}
}

.formgent-control-default-value-list-content {
	.components-popover__content {
		width: 200px;
		padding: 0;
	}
	span {
		display: block;
		padding: 5px 8px;
		cursor: pointer;
		transition: 0.3s ease;
		&:hover {
			background: var(--formgent-color-bg-light);
		}
	}
}

.ant-switch {
	min-width: 36px;
	height: 20px;
	background: var(--formgent-color-bg-deep);
	.ant-switch-handle {
		width: 14px;
		height: 14px;
		top: 3px;
		inset-inline-start: 3px;
	}
	&.ant-switch-checked {
		background: var(--formgent-color-primary);
		.ant-switch-handle {
			inset-inline-start: calc(100% - 18px);
		}
		&:hover {
			background: #7d6cf4 !important;
		}
	}
}

.formgent-form-filter-select-dates {
	.ant-picker-input {
		input {
			text-align: center;
		}
	}
	.ant-picker-range {
		padding: 10px 11px;
	}
}
.ant-picker-date-range-wrapper {
	.ant-picker-cell {
		padding: 6px 0;
	}
}

.formgent-analytics-chart-datepicker {
	.ant-picker-panel-container .ant-picker-presets ul li {
		padding: 5px 10px;
	}
	.ant-picker-range-arrow {
		display: none !important;
	}
	.ant-picker-range-wrapper {
		border-radius: 12px;
	}
	.ant-picker-panel-container {
		border: 1px solid var(--formgent-color-gray-200);
	}
}

.formgent-analytics-chart-datepicker,
.ant-picker {
	font-family: "Inter", sans-serif;
}

.single-response-drawer {
	.ant-drawer-mask {
		display: none;
	}
	.ant-drawer-content-wrapper {
		top: 98px;
		right: 0;
		background: #fff;
		box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
		.ant-drawer-body {
			padding: 0;
		}
	}
}

.formgent-loading {
	position: relative;
	pointer-events: none;
	&:before {
		content: "";
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 10px;
		height: 10px;
		border-radius: 50%;
		border: 2px solid rgba(0, 0, 0, 0.1);
		border-top-color: var(--formgent-color-primary);
		animation: formgent_spinner 1s linear infinite;
	}
}

@keyframes formgent_spinner {
	0% {
		transform: translate(-50%, -50%) rotate(0deg); /* Start at 0 degrees */
	}
	100% {
		transform: translate(-50%, -50%) rotate(360deg); /* End at 360 degrees (full rotation) */
	}
}
