:root {
	--newform-color-primary: #6551f2;
	--newform-color-primary-2: #2188ff;
	--newform-color-secondary: #fc495d;
	--newform-color-dark: #000000;
	--newform-color-bg-white: #ffffff;
	--newform-color-bg-light: #efefef;
	--newform-color-bg-gray: #e6e6e6;
	--newform-color-bg-deep: #d5d5d5;
	--newform-color-bg-general: #f5f5f5;
	--newform-color-bg-page: #f0f0f0;
	--newform-color-gray: #3c3c3c;
	--newform-color-light-gray: #6e6e6e;
	--newform-color-extra-light: #a2a2a2;
	--newform-color-info: #2188ff; //#1b83fb
	--newform-color-danger: #ef0000; //#ef0000;
	--newform-color-disable: #dddada;
	--newform-color-warning-deep: #ff7300;
	--newform-color-warning-light: #f9dfac;
	--newform-color-warning: #f28100;
	--newform-color-success: #28a800; //#08bf9c;
	--newform-color-text: #4d4d4d;
	--newform-color-white: #ffffff;
	--newform-color-black: #000000;
	--newform-font-family: "Inter";
	--newform-font-size: "medium";
	--newform-font-color: "#898989";
	--newform-btn-radius: 8px;
	--newform-primary-button-color: #ffffff;
	--newform-primary-button-bg: #6551f2;
	--newform-primary-light-button-bg: #e8e6fc;
	--newform-primary-button-border-radius: "15";
	--newform-secondary-button-color: #ffffff;
	--newform-secondary-button-bg: #fc495d;
	--newform-secondary-button-border-radius: "15";
	--newform-color-page-bg: "#030308";
	--newform-color-description: rgba(255, 255, 255, 0.8);
	--newform-color-footer-text: rgba(255, 255, 255, 0.8);
	--newform-color-bg-badge-success: rgba(37, 128, 8, 0.2);
	--newform-color-bg-badge-gray: #b1b1b1;
	--newform-footer-text-font-size: "medium";
	--newform-color-border-light: #e6e6e6;
	--newform-transition: 0.3s ease;
	--newform-color-facebook: #2d75ed;
	--newform-color-twitter: #000000;
	--newform-color-youtube: #f3081a;
	--newform-color-instagram: #bf3ad4;
}

/* Spacing */
.newform-m-0 {
	margin: 0 !important;
}

.newform-mb-0 {
	margin-bottom: 0 !important;
}
.newform-mb-5 {
	margin-bottom: 5px !important;
}
.newform-mb-10 {
	margin-bottom: 10px !important;
}
.newform-mb-15 {
	margin-bottom: 15px !important;
}
.newform-mb-20 {
	margin-bottom: 20px !important;
}
.newform-mb-25 {
	margin-bottom: 25px !important;
}
.newform-mb-30 {
	margin-bottom: 30px !important;
}
.newform-mb-40 {
	margin-bottom: 40px !important;
}

.newform-mt-0 {
	margin-top: 0px !important;
}
.newform-mt-10 {
	margin-top: 10px !important;
}
.newform-mt-15 {
	margin-top: 15px !important;
}
.newform-mt-25 {
	margin-top: 25px !important;
}
.newform-mt-20 {
	margin-top: 20px !important;
}

.newform-mt-30 {
	margin-top: 30px !important;
}
.newform-mt-40 {
	margin-top: 40px;
}
.newform-mt-50 {
	margin-top: 50px;
}

.newform-ml-0 {
	margin-inline-start: 0 !important;
}

.newform-p-5 {
	padding: 5px;
	box-sizing: border-box;
}
.newform-p-20 {
	padding: 20px;
	box-sizing: border-box;
}
.newform-p-25 {
	padding: 25px;
	box-sizing: border-box;
}
.newform-p-30 {
	padding: 30px;
	box-sizing: border-box;
}

.newform-no-wrap {
	display: flex;
	flex-wrap: nowrap !important;
}

.newform-page-inner {
	padding: 30px 30px 0 30px;
}

.newform-text-center {
	text-align: center;
}

.newform-danger-text {
	color: var(--newform-color-danger);
}

.newform-h-20 {
	height: 20px;
}

.newform-w-f {
	width: 100% !important;
}

.newform-h-100pr {
	height: 100%;
}

.newform-root {
	font-family: var(--newform-font-family);
	.block-editor-rich-text__editable.rich-text {
		font-family: inherit;
	}
}

.newform-single-form-fullscreen {
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 99999;
	background: #f0f0f1;
	.newform-single-form-header {
		top: 0 !important;
	}
}

.newform-flex-wrap {
	flex-wrap: wrap;
}

.newform-font-family {
	font-family: var(--wp--preset--font-family--source-serif-pro);
}

.newform-font-weight-500 {
	font-weight: 500;
}

.newform-font-size-16 {
	font-size: 16px;
}

.newform-font-size-20 {
	font-size: 20px;
}

.newform-font-w-bold {
	font-weight: bold;
}

.newform-d-block {
	display: block;
}

.newform-d-flex {
	display: flex;
}

.newform-flex-grow-1 {
	flex-grow: 1;
}

.newform-flex-direction-column {
	flex-direction: column;
}

.newform-justify-content-center {
	justify-content: center;
}

.newform-space-between {
	justify-content: space-between;
}

.newform-text-center {
	text-align: center;
}

.newform-text-danger {
	color: var(--newform-color-danger) !important;
}

.newform-text-white {
	color: #ffffff;
}

.newform-text-color {
	color: var(--newform-color-text);
}

.newform-text-color-info {
	color: var(--newform-color-info);
}

.newform--text-center {
	text-align: center;
}

.newform--justify-center {
	justify-content: center;
}

/* Button Style */

a.newform-btn-disabled {
	cursor: not-allowed;
	pointer-events: none;
	opacity: 0.4;
}

.newform-inline-list {
	margin: 0 -5px;
	padding: 0;
	list-style: none;

	.newform-inline-list-item {
		display: inline-block;
		margin: 0 5px 5px;
	}
}

/* Button link */
.newform-link {
	display: inline-block;
	text-decoration: none;
	color: var(--newform-color-primary);
}

/* Block Button Style */
.newform-btn-block {
	display: flex;
	justify-content: center;
	width: 100%;
	box-sizing: border-box;
}

.newform-icon-link {
	display: inline-block;
	width: 1em;
	margin: 1px 8px 0;
	cursor: pointer;

	svg path {
		fill: var(--newform-color-primary);
	}
}

.new-form_page_newform #wpcontent {
	padding-left: 0;
}

// ant checkbox

.newform-page-inner {
	.ant-checkbox {
		.ant-checkbox-inner {
			width: 18px;
			min-width: 18px;
			height: 18px;
			border-radius: 5px;
			margin: 0;
			line-height: 1;
			appearance: none;
			border: 2px solid var(--newform-color-extra-light);
			box-shadow: none;
			&:after {
				display: block;
				width: 4.5px;
				height: 8px;
			}
		}
		&.ant-checkbox-checked {
			.ant-checkbox-inner {
				border-color: var(--newform-color-primary);
			}
		}
	}
}

/* newform Modal */
.newform-modal {
	font-family: var(--newform-font-family);
	.components-modal__frame {
		min-width: 540px;
		border-radius: 20px;
		background-color: var(--newform-color-white);
		@media only screen and (max-width: 575px) {
			min-width: 100%;
		}
	}
	.components-modal__header {
		height: auto;
		padding: 15px 30px;
		background: #fff;
		//overflow: hidden;
		.components-button {
			inset-inline-start: auto;
			inset-inline-end: 20px;
			top: 5px;
			&:focus {
				outline: none;
				box-shadow: 0 0;
			}
			&:hover {
				color: var(--newform-color-danger);
			}
		}
		.components-modal__header-heading {
			font-family: inherit;
		}
	}
	.components-modal__content {
		margin: 0;
		padding: 0;
		overflow-x: hidden;
		&::-webkit-scrollbar {
			width: 5px;
		}
		&::-webkit-scrollbar-track {
			background: #f1f1f1;
			border-radius: 3px;
		}
		&::-webkit-scrollbar-thumb {
			background: var(--newform-color-bg-deep);
			transition: var(--newform-transition);
			border-radius: 3px;
		}
		&::-webkit-scrollbar-thumb:hover {
			background: var(--newform-color-primary);
		}
		.newform-conversation-forward {
			padding: 0 30px;
		}
		.newform-conversation-forward__content {
			> .newform-user-block {
				padding-left: 15px;
				margin-bottom: 20px;
				position: relative;
				&:before {
					position: absolute;
					content: "";
					width: 3px;
					height: 100%;
					left: 0;
					top: 0;
					background: var(--newform-color-primary);
					border-radius: 10px;
				}
			}
			.newform-conversation-forward__reply {
				margin-bottom: 15px;
				textarea {
					height: 70px;
					padding: 15px 20px;
					border-radius: 10px;
					background: var(--newform-color-bg-gray);
					border: 0 none;
					resize: none;
				}
			}
			.newform-conversation-forward__user {
				.newform-conversation-forward__user-input {
					margin-bottom: 15px;
					input {
						height: 40px;
						padding: 0 20px;
						border-radius: 10px;
						background: var(--newform-color-bg-gray);
						border: 0 none;
					}
				}
				.newform-conversation-forward__list {
					.newform-conversation-forward__list-group {
						&:not(:last-child) {
							margin-bottom: 15px;
							padding-bottom: 15px;
							border-bottom: 1px solid #e6e6e6;
						}
					}
					.newform-conversation-forward__list-label {
						font-size: 12px;
						font-weight: 500;
						text-transform: uppercase;
						color: var(--newform-color-light-gray);
						margin-bottom: 20px;
						display: block;
					}
					.newform-conversation-forward__list-single {
						margin-bottom: 20px;
						display: flex;
						align-items: center;
						justify-content: space-between;
						.newform-user-block {
							align-items: center;
						}
						.newform-btn.disabled {
							background: #fff;
							color: var(--newform-color-primary);
							cursor: not-allowed;
							pointer-events: none;
							span {
								display: flex;
								align-items: center;
								justify-content: center;
								gap: 6px;
							}
							svg {
								width: 10px;
								margin: 0;
								path {
									fill: var(--newform-color-primary);
								}
							}
						}
					}
				}
			}
		}
	}
	&.newform-form-title-modal {
		.components-modal__header {
			padding: 0;
		}
	}
	&.newform-attachment-importing {
		.components-modal__header {
			& + div {
				height: 100%;
				display: flex;
				align-items: center;
			}
		}
	}
	&.newform-create-modal-wrap {
		top: 0;
		.newform-btn-back {
			position: relative;
			top: -20px;
			font-size: 14px;
			font-weight: 500;
			text-decoration: none;
			padding-inline-end: 20px;
			color: var(--newform-color-gray);
			display: inline-flex;
			align-items: center;
			gap: 8px;
			cursor: pointer;
			transition: var(--newform-transition);
			svg {
				path {
					fill: var(--newform-color-gray);
					transition: var(--newform-transition);
				}
			}
		}
		.components-modal__header {
			height: 0;
		}
		.newform-create-form-modal {
			&.newform-create-loader-active {
				display: flex;
				justify-content: center;
				align-items: center;
				height: 100%;
			}
		}
		.components-modal__frame {
			height: 100%;
			max-height: 95%;
			min-width: calc(100% - 40px);
		}
		.components-modal__header {
			padding: 0;
			.components-button {
				padding: 0;
				width: 48px;
				height: 48px;
				border-radius: 50%;
				top: 50px;
				inset-inline-end: 30px;
				background-color: var(--newform-color-bg-gray);
				border: 0 none;
				svg {
					width: 18px;
					height: 18px;
				}
			}
		}
		.components-modal__content {
			padding: 50px 30px 30px;
		}
	}
	&.newform-add-tag-modal {
		.components-modal__frame,
		.components-modal__content {
			overflow: visible;
		}
		.components-modal__header {
			border-radius: 20px 20px 0 0;
		}
	}
	&.newform-change-email-modal,
	&.newform-account-delete-alert {
		z-index: 10000000;
	}
	&.newform-change-email-modal {
		.newform-change-email-modal__form {
			padding: 0 40px 30px;
		}
		.newform-change-email-modal-action {
			justify-content: flex-start;
			.newform-modal-action__cancel {
				order: 1;
			}
		}
	}
	&.newform-account-delete-alert {
		.newform-account-delete-alert-action {
			justify-content: center;
			.newform-modal-action__cancel {
				order: 1;
			}
		}
	}
	&.newform-session-expired {
		.components-modal__frame {
			&:focus {
				outline: 0;
				box-shadow: none;
			}
		}
		.components-modal__header {
			display: none;
		}
	}
	&.newform-modal.newform-modal-default.newform-modal-pro {
		.components-modal__header {
			padding: 0;
			border-bottom: 0 none;
			& + div {
				> div {
					padding-top: 40px;
				}
			}
			.components-button {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 36px;
				height: 36px;
				border-radius: 50%;
				right: 15px;
				top: 15px;
				background-color: var(--newform-color-bg-light);
			}
		}
	}
	&.newform-modal-forward {
		.newform-modal-action {
			justify-content: center;
		}
	}
	&.newform-modal-default {
		.components-modal__frame {
			max-width: 650px;
			@media only screen and (max-width: 575px) {
				max-width: 100%;
			}
		}
		.components-modal__header {
			padding: 20px 30px;
			border-bottom: 1px solid var(--newform-color-border-light);
		}
		.components-button {
			padding: 0;
			height: auto;
			left: auto;
			right: 0;
			background: none !important;
			svg {
				width: 16px;
				height: 16px;
			}
		}
	}
	&.newform-form-delete-alert {
		z-index: 99999999999;
	}
}
