:root {
	--formgent-color-primary: #6551f2;
	--formgent-color-primary-2: #2188ff;
	--formgent-color-primary-100: #dee3ff;
	--formgent-color-secondary: #fc495d;
	--formgent-color-dark: #000000;
	--formgent-color-bg-white: #ffffff;
	--formgent-color-bg-light: #efefef;
	--formgent-color-bg-gray: #e6e6e6;
	--formgent-color-bg-deep: #d5d5d5;
	--formgent-color-bg-general: #f5f5f5;
	--formgent-color-bg-page: #f0f0f0;
	--formgent-color-bg-sec: #f0f0f1;
	--formgent-color-gray: #141921;
	--formgent-color-light-gray: #6e6e6e;
	--formgent-color-extra-light: #a2a2a2;
	--formgent-color-info: #217aef;
	--formgent-color-info-light: #91d2ff;
	--formgent-color-info-deep: #eff8ff;
	--formgent-color-danger: #ef0000; //#ef0000;
	--formgent-color-danger-light: #fdf3f3;
	--formgent-color-disable: #dddada;
	--formgent-color-warning-deep: #ff7300;
	--formgent-color-warning-light: #f9dfac;
	--formgent-color-warning: #f28100;
	--formgent-color-success: #28a800; //#08bf9c;
	--formgent-color-text: #4d5761;
	--formgent-color-white: #ffffff;
	--formgent-color-black: #000000;
	--formgent-font-family: "Inter";
	--formgent-font-size: "medium";
	--formgent-font-color: #898989;
	--formgent-btn-radius: 8px;
	--formgent-primary-button-color: #ffffff;
	--formgent-primary-button-bg: #6551f2;
	--formgent-primary-light-button-bg: #e8e6fc;
	--formgent-primary-button-border-radius: "15";
	--formgent-secondary-button-color: #ffffff;
	--formgent-secondary-button-bg: #fc495d;
	--formgent-secondary-button-border-radius: "15";
	--formgent-color-page-bg: #030308;
	--formgent-color-description: rgba(255, 255, 255, 0.8);
	--formgent-color-footer-text: rgba(255, 255, 255, 0.8);
	--formgent-color-bg-badge-success: #a9f1c9;
	--formgent-color-bg-badge-gray: #b1b1b1;
	--formgent-footer-text-font-size: "medium";
	--formgent-color-border: #e6e6e6;
	--formgent-color-border-light: #d2d6db;
	--formgent-transition: 0.3s ease;
	--formgent-color-facebook: #2d75ed;
	--formgent-color-twitter: #000000;
	--formgent-color-youtube: #f3081a;
	--formgent-color-instagram: #bf3ad4;
	--formgent-color-gray-50: #f9fafb;
	--formgent-color-gray-100: #f3f4f6;
	--formgent-color-gray-200: #e5e7eb;
	--formgent-color-gray-300: #d2d6db;
	--formgent-color-gray-400: #a1a9b2;
	--formgent-color-gray-500: #747c89;
	--formgent-color-gray-600: #4d5761;
	--formgent-color-gray-700: #383f47;
	--formgent-color-gray-800: #2c3239;
}
