@import "../sass/variables.scss";

.components-panel__body.edit-post-post-status {
	display: none;
}

.formgent-repeater-control {
	margin-bottom: 30px;
}

.formgent-repeater-field {
	border: 1px solid #dadada;
	margin-bottom: 10px;
}
.formgent-repeater-field-control {
	display: flex;
	align-items: center;
	border-bot button {
		background: none;
		border: 0 none;
		outline: 0;
		box-shadow: none;
		padding: 0;
		margin: 0;
		text-align: left;
		padding: 10px 5px;
		cursor: pointer;
		transition: 0.3s ease;
		&:hover {
			background: #f2f2f2;
		}
	}
}
.formgent-repeater-field--expanded .formgent-repeater-field-control {
	border-bottom: 1px solid #dadada;
}
.formgent-repeater-field-title {
	cursor: pointer;
	width: 80%;
	padding: 10px;
	.components-base-control,
	.components-base-control__field {
		margin-bottom: 0 !important;
	}
}
button.formgent-repeater-field-remove {
	flex: 20%;
	text-align: center;
	justify-content: center;
	border-left: 1px solid #dadada;
}
button.formgent-repeater-field-expand {
	text-align: center;
	border-left: 1px solid #dadada;
	.dashicon::before {
		color: #959595;
		font-size: 16px;
	}
}
.formgent-repeater-field-control-content {
	padding: 10px;
	label {
		margin-bottom: 6px;
	}
}

.formgent-repeater-field-control--extended {
	.formgent-repeater-field-title {
		width: 76%;
	}
	button.formgent-repeater-field-remove,
	button.formgent-repeater-field-expand {
		flex: 12%;
	}
}

//default value control
.formgent-control-default-value-wrapper {
	.formgent-control-default-value {
		position: relative;
		.components-input-control__input {
			padding: 0 35px 0 8px !important;
		}
		.components-dropdown {
			position: absolute;
			right: 0;
			top: 25px;
			svg {
				width: 16px;
				height: 16px;
			}
		}
	}
}
.formgent-control-default-value-list-content {
	.components-popover__content {
		width: 200px;
		padding: 10px;
	}
	span {
		display: block;
		padding: 12px;
		cursor: pointer;
		transition: 0.3s ease;
		&:hover {
			background: var(--formgent-color-bg-light);
		}
	}
}
