@import "form/style.scss";
@import "address/style.scss";
@import "name/style.scss";
@import "website/style.scss";
@import "email/style.scss";
@import "button/style.scss";
@import "dropdown/style.scss";
@import "number/style.scss";
@import "gdpr/style.scss";
@import "text/style.scss";
@import "textarea/style.scss";
@import "phone-number/style.scss";
@import "single-choice/style.scss";
@import "multi-choice/style.scss";

// Block Input Field Style
.block-editor-block-list {
	&__single {
		display: flex;
		gap: 10px;
		flex-wrap: wrap;
		&__wrapper {
			display: flex;
			gap: 10px;
			flex: 1;
			flex-direction: column;
		}
		&__box {
			display: flex;
			gap: 10px;
			flex: 1;
			flex-direction: column;
			&__wrapper {
				display: flex;
				gap: 6px;
				align-items: center;
			}
		}
		&__input {
			height: 40px;
			padding: 0 10px;
			border: 1px solid #dadada;
			border-radius: 4px;
			font-size: 14px;
			&--radio,
			&--checkbox {
				width: 15px;
				height: 15px;
				margin: 0;
			}
			&--textarea {
				padding: 10px;
				height: auto;
			}
		}
		&__label {
			display: flex;
			gap: 6px;
			font-size: 16px;
			&__required {
				color: #f04;
			}
			&.label-align-left {
				order: -1;
			}
			&.label-align-right {
				order: 1;
			}
			&.label-align-top {
				flex: 0 0 100%;
			}
			&.label-align-justify {
				flex: 0 0 100%;
			}
		}
		&__sub-label {
			font-size: 12px;
			color: #666;
		}
	}
}
